#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:2px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:80px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float: left;
    padding:10px;
    padding-left:100px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
